table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.detail-expanded-row):hover {
  background: #299118;
}

tr.element-row:not(.detail-expanded-row):active {
  background: #37c40d;
}

.element-row td {
  border-bottom-width: 0;
}

.earthquake-detail {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.earthquake-detail-row {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  min-height: 400px;
}
